<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <link rel="stylesheet" href="./minima/_site/script/style.css"/>
</head>
  {%- include head.html -%}

  <body style="color: #29283b;">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper" style="margin-bottom: 3%;">
        {{ content }}
        <h1 style="font-family: 'Times New Roman', Times, serif;" style="color: black;" style="font-weight: 100;" >When life gives you lemons, make lemonade </h1>

        
          
      </div>
      <div class="social-links">
        {%- include social.html -%}
      </div>
    </main>
   

    {%- include footer.html -%}

  </body>

</html>